.game {
  text-align: center;
}

.game .score {
  font-size: 1.25rem;
}

.game .score span {
  color: #9fd3c7;
}

.game .tip {
  margin-bottom: 2.5rem;
}

.game .tip span {
  color: #9fd3c7;
  font-weight: bold;
}

.game .word_container {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
  margin-bottom: 2.5rem;
}

.game .word_container > * {
  border: 1px solid #000;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  background-color: #fff;
  color: #000;
}

.game .word_container .letter {
  text-transform: uppercase;
}

.game .word_container .blank {
}

.game .letter_container form {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.game .letter_container input {
  width: 2rem;
  height: 2rem;
  text-align: center;
  font-size: 1.25rem;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid #000;
}

.game .wrong_letter_container span {
  text-transform: uppercase;
  margin-right: 0.5rem;
  position: relative;
  font-size: 2.25rem;
  font-weight: bold;
  color: var(--bs-danger);
}

.game .wrong_letter_container span:last-child {
  margin-right: 0;
}

/* SM */

@media (min-width: 576px) {
}

/* MD */

@media (min-width: 768px) {
  .game .word_container {
    gap: 1rem;
  }

  .game .word_container > * {
    width: 3rem;
    height: 3rem;
    font-size: 2.25rem;
  }

  .game .letter_container input {
    width: 3rem;
    height: 3rem;
    font-size: 2.25rem;
  }
}

/* LG */

@media (min-width: 992px) {
  .game .word_container {
    gap: 1rem;
  }

  .game .word_container > * {
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
    border: 2px solid #000;
  }

  .game .letter_container input {
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
    border: 2px solid #000;
  }
}

/* XL */

@media (min-width: 1200px) {
}

/* XXL */

@media (min-width: 1400px) {
}
