body {
  background: linear-gradient(180deg, #1d7d81 0%, #213458 75%);
  min-height: 100vh;
}

#root {
  height: 100%;
}

section {
  padding: 5rem 0;
  height: 100%;
}

.title {
  font-size: 5rem;
}
