:root {
  --bs-body-color: #f6e8e8;
  --bs-body-font-family: "Poppins", sans-serif;
}

input:focus {
  outline: none;
}

.first-color {
  background: #1d7d81;
}

.second-color {
  background: #213458;
}

.third-color {
  background: #887575;
}

.fourth-color {
  background: #f6e8e8;
}
