:root {
  --bs-body-color: #f6e8e8;
  --bs-body-font-family: "Poppins", sans-serif;
  --bs-body-font-size: 12px;
}

input:focus {
  outline: none;
}

/* SM */

@media (min-width: 576px) {
  :root {
    --bs-body-font-size: 12px;
  }
}

/* MD */

@media (min-width: 768px) {
  :root {
    --bs-body-font-size: 14px;
  }
}

/* LG */

@media (min-width: 992px) {
  :root {
    --bs-body-font-size: 16px;
  }
}

/* XL */

@media (min-width: 1200px) {
}

/* XXL */

@media (min-width: 1400px) {
}
